.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.btn-btn-signin {
  position: absolute;
  left: 89.16%;
  right: 2.76%;
  color: white;
  top: 5.00%;
  bottom: 88.11%;
  background: #EF1717;
  border-color: #EF1717;
  border-radius: 0px;
  border-color: red;
}
.email-address{
position: absolute;
width: 150px;
height: 20px;
left: 545px;
top: 839px;
margin-top: 5%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-transform: capitalize;
color: #000000;
}
.get-started-btn{
position: absolute;
margin-top: 0%;
width: 132px;
height: 39px;
background: #EF1717;
color: white;

}
.wt-img{
  width: 100%;
  
}
.mt-50{
  padding-top: 1.15%;
  
}
.mt-70{
  padding-top: 1.5%;
  
}
.img-wd {
  width: 67%;
}
.ft-fm{
  font-size: 4rem;
  font-weight: bold;
  color:#5f5d5d
}
.ht{
  height: 100vh;
}
.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

@media (max-width:629px) {
  img#optionalstuff {
    display: none;
  }
  img#headerimg {
    display: none;
  }
  img#Landingpage_01 {
    display: none;
  }
  img#Landingpage_02 {
    display: none;
  }
  img#Landingpage_03 {
    display: none;
  }
  img#Landingpage_04 {
    display: none;
  }
}
.ms-left{
  margin-left: 7rem;
  /* float:right; */
}
.our-product{
  max-width: 100%;
    margin-right: 0%;
    margin-left: 0px;
    text-align: center;
  
}
.enroll-now-btn{
  
  
  width: 400px;
  height: 39px;
  /* background: red;
  color: white; */
  
}
.contain-1{
  margin-top: 1%;
  padding-top: 1%;
  padding-left: 0px;
}
.we-do-text{
padding-left: 1%;
}
.form-control-1{
  width: 25%;
}
.subscribe-btn{
  margin-top: 3%;
  position: center;
  width: 92px;
  height: 38px;
  
  padding-left: 2%;
    padding-right: 7%;
  
  background: #EF1717;
  color: white;
  text-align: center;
}
.ftr-logo{
  height: 36%;
  width: 35%;
margin-top: 0%;
margin-left: 0%;
}
.form-control-2{
 
}
.get-started-btn1{
  position: absolute;
  margin-top: 0%;
  width: 132px;
  height: 31px;
  background: #EF1717;
  color: white;
  text-align: center;
}
.vr {
  display: inline-block;
  align-self: stretch;
  width: 2px;
  min-height: 1em;
  background-color: red;
  opacity: 1.5;
}
element.style {
  color: white;
  background-color: red;
}
.social_media_logo_list{
   list-style: none;
    display: flex;
    
  }
    
  .so_media_logo{
  
   height: 28px;
    width: 28px;
     background-color: red;
      border-radius: 10%;
      align-items: center;
    }
    /*.ftr-contr{
      padding-left: 
      margin-right: 
    }*/
    .colorcodeptag
    {
      color: white;
      padding-top: 2%;
    }
    .spantagcolorcode{
      color: red;
      padding-top: 2%;
    }
    .apple-store{
      margin-right: 20px;
    }
    .play-store{
      /*margin-right: 20px;*/
      margin-right: -130px;
    }
    .span-avail{
      margin-left: -84px;
    }
    .text-footer {
      text-align: left;
  }
  .vl {
    border-left: 6px solid #ed051b;
    height: 81px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 3;
  }
  .vl-1 {
    border-left: 6px solid #ed051b;
    height: 81px;
    position: absolute;
    left: 30%;
    margin-left: 0px;
    top: 3;
}
  .vl-2 {
    border-left: 6px solid #ed051b;
    height: 81px;
    position: absolute;
    left: 71%;
    margin-left: 0px;
    top: 3;
}
.login100-form-btn {
  /* font-family: Montserrat-Bold; */
  /* font-size: 15px; */
  line-height: 1.5;
  color: #fff;
  /* text-transform: uppercase; */
  /* width: 100%; */
  width: 100%;
  height: 40px;
  border-radius: 5px;
  /* background: #57b846; */
  background: #dc3545;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}